<!DOCTYPE html>
          <html lang="en">
            <head>
              <meta charset="UTF-8" />
              <meta http-equiv="X-UA-Compatible" content="IE=edge" />
              <meta name="viewport" content="width=device-width, initial-scale=1.0" />
              <title>Document</title>
              <style>
                  table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
          }
              </style>
            </head>
            <body>
              <div style="width: 90%; border:1px solid; border-radius:50px;padding:20px">
                <div style="display: flex">
                  <div>
                    <!-- <img src="cid:unique@kreata.ee" width="200px" alt="" /> -->
                  </div>
                  <div>
                    <h1>MikroStarTech(SMC-Private)</h1>
                    <h1>Limited</h1>
                  </div>
                </div>
                <div style="margin-left: 2rem">
                  <h5>Leave Request By <%=user.name%></h5>
                  <p>Hello <%=managerData.name%></p>
        
                  <p>
                    Following are the details of leave request submitted by <%=user.name%>. kindle review it.
                  </p>
                  <table style="width: 30% ; ">
                    <tr>
                      <td><b>Employee</b></td>
                      <td><%=user.name%></td>
                    </tr>
                    <tr>
                      <td><b>From</b></td>
                      <td><%=fromDate.slice(0, 10)}%></td>
                    </tr>
                    <tr>
                      <td><b>To</b></td>
                      <td><%=toDate.slice(0, 10)%></td>
                    </tr>
                    <tr>
                      <td><b>Reason</b></td>
                      <td><%=reason%></td>
                    </tr>
                
                  </table>
                </div>
                <div style="display: flex;margin-left: 2rem;margin-top:1rem">
                <a style="background-color: red;color:white;width:150px;text-decoration:none;text-align:center;">Reject</a>
                <!-- <a href=<%=url%> style="background-color: green;color:white;width:150px;text-decoration:none;text-align:center;">Accept</a> -->
              </div>
              </div>
            </body>
          </html>